<!DOCTYPE html>
<html>
<head>
  <title>HotDrinks</title>
  <%= stylesheet_link_tag    "hot_drinks/application", media: "all" %>
  <%= javascript_include_tag "hot_drinks/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
